apiVersion: v1
kind: Secret
metadata:
  name: api-secrets
type: Opaque
data:
  NEO4J_PROTOCOL: bolt-in-b64
  NEO4J_HOST: localhost-in-b64
  NEO4J_PORT: 7687-in-b64
  NEO4J_USERNAME: vgr-in-b64
  NEO4J_PASSWORD: ngr-in-b64
  NEO4J_DATABASE: neo4j-in-b64
  NEO4J_ENCRYPTION: ENCRYPTION_ON-in-b64
  PORT: 8000-in-b64